h1 {
font-style: normal;
font-weight: bold;
font-size: 4vh;
line-height: 4vh;
color: #828195;
text-align: center;
margin-top: 3%;
}

h4 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    margin: 5%;
    font-size: 3vh;
    line-height: 3.5vh;
}

h6 {
font-family: Trirong;
font-style: italic;
font-weight: bold;
text-align: center;
margin-bottom: 10%;
color: #828195;
}

.button {
    margin: 5%;
    background-color: #9B287B;
    color: #FFF;
    font-size: 4vh;
    margin-bottom: 25%;
}

p {
    margin-left: 5%;
}
label {
    margin-top: 2%;
    margin-bottom: 2%;
    color: #FFF;
}

.form-group, .form-check {
    margin: 5%
}
.vilka {
    padding-top: 5%;
    background-color: #FFF;
    color: #828A95;
}
.produkter {
    padding-top: 5%;
    background-color: #828A95;
    color: #FFF;
}
.form {
    padding-top: 5%;
    background-color: #0A2342;
    color: #FFF;
}
.media {
    margin-left: 3%;
}

html {
    scroll-behavior: smooth;
}
a {
    text-align: center;
}
img {
    margin-right: 3%;
}