.page-title {
    font-weight: 800;
}
.page-maintext {
    font-weight: 500;
}
.page-header {
    font-weight: 700;
}

.leeds-gray {
    color: #828A95;
}

h5 {
font-weight: bold;
text-align: center;
color: #828195;
}

.btn {
    margin: 5%;
    font-size: 3vh;
}

p {
    margin-left: 5%;
}

label {
    margin-top: 5%;
    margin-bottom: 2%;
    color: #FFF;
}

.form-group, .form-check {
    margin: 5%
}

.produkter {
    background-color: #828A95;
    color: #FFF;
}

.form {
    background-color: #0A2342;
    color: #FFF;
}

html {
    scroll-behavior: smooth;
}

a {
    text-align: center;
}

img {
    margin-right: 3%;
}


@media screen and (min-width: 992px) {
        
        h5 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 5%;
        color: #828195;
        }
        
        h6 {
        font-family: Trirong;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        color: #828195;
        }
        
        .btn {
            margin-left: 5%;
            font-size: 4vh;
            margin-bottom: 5%;
        }
        
        p {
            margin-left: 5%;

        }
        
        label {
            margin-top: 1%;
            margin-bottom: 1%;
            color: #FFF;
        } 
        
        .produkter {
            padding-top: 5%;
            background-color: #828A95;
            color: #FFF;
        }
        
        .form {
            background-color: #0A2342;
            color: #FFF;
        }

        html {
            scroll-behavior: smooth;
        }
        
        a {
            text-align: center;
        }
        
        img {
            margin-right: 3%;
        }
        .navbar-brand {
            margin-right: 2.5%;
        }
  }